<mat-card class="cadastro-card">
    <form #formLogin="ngForm" novalidate>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-5 col-sm-10 col-xs-12">
                <div class="titulo text-center">{{causa.id ? 'Atualizar' : 'Registrar' }} causa</div>

                <div class="form-field">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Título</mat-label>
                        <input matInput placeholder="Digite o título" name="titulo" [(ngModel)]="causa.titulo"
                            #titulo="ngModel" required maxlength="100">
                        <mat-hint align="end">{{ causa.titulo.length || 0 }}/100</mat-hint>
                        <mat-error *ngIf="titulo.invalid && titulo.touched">
                            <span *ngIf="titulo.errors?.['required']">Título é obrigatório.</span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Tipo da causa</mat-label>
                    <mat-select [(ngModel)]="causa.tipoCausa" name="tipoCadastro" required>
                        <mat-option *ngFor="let tipo of tiposEnum" [value]="tipo">{{ tipo }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="form-field">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Número do processo</mat-label>
                        <input mask="0000000-00.0000.0.00.0000" matInput placeholder="Digite o número do processo"
                            name="numeroProcesso" [(ngModel)]="causa.numeroProcesso" #numeroProcesso="ngModel" required
                            maxlength="25">
                        <mat-hint align="end">{{ causa.numeroProcesso.length || 0 }}/20</mat-hint>
                        <mat-error *ngIf="numeroProcesso.invalid && numeroProcesso.touched">
                            <span *ngIf="numeroProcesso.errors?.['required']">Número do processo é obrigatório.</span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Tribunal</mat-label>
                        <input matInput placeholder="Digite o Tribunal" name="tribunal" [(ngModel)]="causa.tribunal"
                            required>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Valor da causa</mat-label>
                        <input matInput placeholder="Digite o valor da causa" name="valorCausa"
                            [(ngModel)]="causa.valorCausa" #valorCausa="ngModel" reqired maxlength="9" [disabled]="valorNegociavel">
                        <mat-error *ngIf="valorCausa.invalid && valorCausa.touched">
                            <span *ngIf="valorCausa.errors?.['required']">Valor da causa é obrigatório.</span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <mat-checkbox name="valorNegociavel" [(ngModel)]="valorNegociavel" (change)="verificaValorCausa()">
                        A negociar
                    </mat-checkbox>
                </div>
                
                <div class="form-field">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Descrição</mat-label>
                        <textarea matInput placeholder="Digite a descrição" name="descricao" [(ngModel)]="causa.descricao"
                            #descricao="ngModel" required maxlength="255"></textarea>
                        <mat-hint align="end">{{ causa.descricao.length || 0 }}/255</mat-hint>
                        <mat-error *ngIf="descricao.invalid && descricao.touched">
                            <span *ngIf="descricao.errors?.['required']">Descrição é obrigatório.</span>
                        </mat-error>
                    </mat-form-field>
                </div>


                <div class="form-button">
                    <button mat-raised-button color="primary" type="submit" (click)="salvar()">{{ causa.id ? 'Atualizar' : 'Registrar' }}</button>
                </div>
            </div>
        </div>
    </form>