/* You can add global styles to this file, and also import other style files */
@use "variables.scss";

.divContent {
    display: flex;
    flex-direction: column;
}

.mat-form-field {
    padding-left: variables.$padding-pattern;
    padding-right: variables.$padding-pattern;
    width: 100%;
}
